*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.conteiner{
    max-width: 300px;
    width: 200px;
    padding-inline: 2rem;
    margin: 0 auto;
}
.conteiner2{
    max-width: 1140px;
    width: 250px;
    margin: 0 auto;
}