.App{
   background:rgba(79, 235, 7, 0.866);
   height: 100vh;
   background:linear-gradient(
    180deg,
    rgba(46, 97, 218) 0%,
    rgba(26, 96, 176) 15%,
    rgba(23,45,67) 30%,
    rgba(24, 10, 81) 45%,
    rgba(29, 20, 45) 100%
   ) ;
}